/* Universel selector */

*{
    font-family: 'Poppins', sans-serif;
}

.slider img{
    filter: brightness(60%);
    
}
.explore-right-area{
    background: rgb(252, 209, 209);
}

.fa-solid{
    color:goldenrod;
}
.small-icon img{
    border-radius:50%;
    width:100px;
}
footer{
    background: #000;
    color:white;
    height: 300px;
}
footer a{
    text-decoration: none;
}
footer  ul{
    list-style-type: none;

}
footer ul li{
    display:inline-block;
    padding:12px;
    font-size:2.4em;
}

 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 

    #courses .row .col img{
        width:75%;
        margin-bottom: 20px;

    }

 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    /* #courses .row .col img{
        width:75%;
    }
    
 } */

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }
